{% extends 'common.html' %}
{% block body %}
<script>
    $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover text-centered">
                <div class="thead">
                    <tr>
                        <th>Image</th>
                    </tr>
                </div>
                <tbody>
                {% for image in images %}
                <tr>
                    <td>{{ image }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}