{% extends 'common.html' %}
{% block body %}
<script>
    $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover text-centered">
                <div class="thead">
                    <tr>
                        <th>containers</th>
                        <th>hosts</th>
                        <th>groups</th>
                        <th>images</th>
                    </tr>
                </div>
                <tbody>
                <tr>
                    <td>{{ info['containers'] }}</td>
                    <td>{{ info['hosts'] }}</td>
                    <td>{{ info['groups'] }}</td>
                    <td>{{ info['images'] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}